{% extends 'base.html.twig' %}
{% block header %}

<body class="is-preload">
<header id="header">
    <a class="logo">Welcome!</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>
{% endblock %}
{% block body %}


<body class="is-preload">
<div id="heading" >
    <h1>Guest book</h1>
</div>
</body>
{% endblock %}