{% extends 'base.html.twig' %}





{% block body %}

<!-- Highlights -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>Sem turpis amet semper</h2>
            <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
        </header>
        <div class="highlights">
            <section id="main" class="wrapper">

                <h3>Sign up</h3>
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="name" id="name" value="" placeholder="Login" />

                                <br />

                            <input type="email" name="email" id="email" value="" placeholder="E-mail" />
                        </div>

                        <div class="col-6 col-12-xsmall">
                            <input type="password" name="repass" id="repass" value="" placeholder="Password" />

                                <br />

                            <input type="password" name="pass" id="pass" value="" placeholder="Check Password" />
                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Go!" class="primary" /></li>
                            </ul>
                        </div>
                    </div>
                </form>

            </section>
        </div>
    </div>
</section>

s



{% endblock %}